*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: deepskyblue;
}
.box{
    width: 600px;
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#pswd{
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;

}
